
# .github/workflows/ci.yml
name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  sre-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt

      - name: Python Syntax Check
        run: python -m py_compile app/main.py

      - name: Build Docker Image
        run: docker build -t sre-assessment:latest .

      - name: Run Docker Container in Background
        run: |
          docker run -d -p 8080:8080 --name sre-test sre-assessment:latest
          sleep 5

      - name: Test /healthz Endpoint
        run: |
          curl -f http://localhost:8080/healthz
          echo "Health check passed!"

      - name: Test Root Endpoint
        run: |
          curl -f http://localhost:8080/
          echo "Root endpoint passed!"

      - name: Stop & Remove Container
        if: always()
        run: |
          docker stop sre-test || true
          docker rm sre-test || true

      # -----------------------
      # Optional: Push to Docker Hub
      # -----------------------
      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}
      #
      # - name: Tag + Push Image
      #   run: |
      #     docker tag sre-assessment:latest emon110852/sre-assessment:latest
      #     docker push emon110852/sre-assessment:latest
